@import "tailwindcss";
@source "../../../apps/**/*.{ts,tsx}";
@source "../../../components/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer {
  :root {
    --common-100: #ffffff;
    --common-0: #121212;

    --gray-50: #f0f0f0;
    --gray-100: #e8e8e8;
    --gray-200: #d1d1d1;
    --gray-300: #b4b4b4;
    --gray-400: #979797;
    --gray-500: #7a7a7a;
    --gray-600: #636363;

    --shiraz-50: #fff0f1;
    --shiraz-100: #ffe3e6;
    --shiraz-200: #ffcbd2;
    --shiraz-300: #ffa0ae;
    --shiraz-400: #ff6b85;
    --shiraz-500: #fc375e;
    --shiraz-600: #ea1448;
    --shiraz-700: #bd0a3a;
    --shiraz-800: #a50c3a;
    --shiraz-900: #8d0e38;
    --shiraz-950: #4f021a;

    --background: var(--common-100);
    --static-black: var(--common-0);
    --static-white: var(--common-100);

    --line: var(--gray-100);

    --primary-normal: var(--shiraz-500);
    --primary-strong: var(--shiraz-700);
    --primary-heavy: var(--shiraz-900);
  }

  .dark {
  }
}

@theme {
  --color-black: var(--common-black);
  --color-white: var(--static-white);

  --color-gray-500: var(--gray-500);

  --color-background: var(--background);
  --color-foreground: var(--static-black);

  --color-primary-normal: var(--primary-normal);
  --color-primary-strong: var(--primary-strong);
  --color-primary-heavy: var(--primary-heavy);
  --color-primary-outline: var(--shiraz-400);
}
